.results__list__pokemon {
  border: 1px solid rgba(95, 88, 80, 0.589);
  &:hover{
    -webkit-box-shadow: 11px 13px 11px -2px rgba(184,171,26,1);
    -moz-box-shadow: 11px 13px 11px -2px rgba(184,171,26,1);
    box-shadow: 11px 13px 11px -2px rgba(184,171,26,1);
    border: 1.2px solid black;
  }
}

.img__wrapper {
  width:100%;
  background-color: #DFDFDF;
  padding-bottom:18px;
  padding-top:10px;
}

.id__wrapper {
  position: absolute;
}

.pokemon_id {
  background-color: #D1CECA;
  color:rgb(95, 88, 80);
  display:inline;
  padding: 0 10px;
  position:relative;
  left:0;
  top:0;
}

.info__wrapper {
  padding: 10px 0 10px;
  text-align: start;
  padding-left:10px;
  background-color: white;
}

.pokemon__name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

.types__wrapper {
  display:flex;
  justify-content: start;
}

.pokemon__type {
  border:1px solid #DFDFDF;
  color:rgb(95, 88, 80);
  border-radius: 10px;
  padding:5px 10px;
  margin:5px 5px 5px 0;
  text-transform: uppercase;
  font-size: 10px;
}

.hidden {
  display:none;
}