*{
  list-style: none;
  padding:0;
  margin:0
}

.App {
  text-align: center;
  background: linear-gradient(-45deg,  #c20000, #fff826, #fff320, #ffed1a, #ffe813, #ffe30b, #ffd601, #fa8f00, #f57700, #d14f03);
	background-size: 200% 200%;
	animation: gradientBG 2s ease infinite;
  animation: gradientBG 2s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.search__input {
  background-color: white;
  width:60%;
  height: 40px;
  margin: 0px 0 30px;
  opacity:.9;
  text-align: center;
}

.results__list {
  margin: 10px 50px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap:10px;
}

@media all and (max-width: 680px) {
  .results__list {
    margin: 10px 30px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 500px) {
  .results__list {
    margin: 10px 30px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

