*{
  list-style: none;
  padding:0;
  margin:0
}

.App {
  text-align: center;
  background: linear-gradient(-45deg, #fff826, #fff320, #ffed1a, #ffe813, #ffe30b, #ffd601, #ffca00, #ffbd00, #fda600, #fa8f00, #f57700, #d14f03);
	background-size: 200% 200%;
	animation: gradientBG 3s ease infinite;
  animation: gradientBG 3s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header__title {
  background-image: url(./images/pokemon_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vh;
  padding-top:270px;
  height: 0px;
  color:transparent;
  -webkit-animation: moving 1s infinite  alternate;
  animation: moving 1s infinite  alternate;
}

@-webkit-keyframes moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

.search__input {
  background-color: white;
  width:60%;
  height: 30px;
  margin: 0px 0 30px;
  opacity:.9;
  text-align: center;
}

.results__list {
  margin: 10px 50px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(30, 1fr);
  gap:10px;
}

@media all and (max-width: 680px) {
  .results__list {
    margin: 10px 30px 10px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media all and (max-width: 500px) {
  .results__list {
    margin: 10px 30px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

