*{
  list-style: none;
  padding:0;
  margin:0
}

.App {
  text-align: center;
}

.results__list {
  margin: 10px 50px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap:10px;
}

.results__list__pokemon {
  border: 1px solid black;
}

.img__wrapper {
  width:100%;
  background-color: #DFDFDF;
  padding-bottom:18px;
  padding-top:10px;
}

.id__wrapper {
  position: absolute;
}

.pokemon_id {
  background-color: #D1CECA;
  color:rgb(95, 88, 80);
  display:inline;
  padding: 0 10px;
  position:relative;
  left:0;
  top:0;
}

.info__wrapper {
  padding: 10px 0 10px;
  text-align: start;
  margin-left:10px;
}

.pokemon__name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
}

.types__wrapper {
  display:flex;
  justify-content: start;
}

.pokemon__type {
  border:1px solid #DFDFDF;
  color:rgb(95, 88, 80);
  border-radius: 10px;
  padding:5px 10px;
  margin:5px 5px 5px 0;
}


